@font-face {
    font-family: "Genera SemiBold";
    src: url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.eot");
    src: url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/71ac940a089dbc8bc7de49f612ff041c.svg#Genera SemiBold") format("svg");
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007bff;
    z-index: 1000;
    text-align: center;
    border-radius: 10px; /* Adiciona bordas redondas ao header */
}

header img {
    height: 120px;
}

header h4 {
    font-family: "Genera SemiBold";
    font-size: 1.5em;
    color: #000;
    margin: 0;
    padding: 10px;
}

main {
    margin-top: 240px;
    text-align: center;
    border-radius: 10px; /* Adiciona bordas redondas ao main */
}

#about p {
    text-align: justify;
    border-radius: 10px; /* Adiciona bordas redondas ao parágrafo do about */
}

#services ul {
    display: inline-block;
    text-align: left;
    border-radius: 10px; /* Adiciona bordas redondas à lista de serviços */
}

#gallery {
    text-align: center;
    border-radius: 10px; /* Adiciona bordas redondas à galeria */
}

#gallery div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px; /* Adiciona bordas redondas ao div da galeria */
}

#gallery figure {
    margin: 10px;
    border-radius: 10px; /* Adiciona bordas redondas às figuras da galeria */
}

footer {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    text-align: left;
    border-radius: 10px; /* Adiciona bordas redondas ao contato */
}

footer nav {
    text-align: right;
    margin-top: 0px;
    border-radius: 10px; /* Adiciona bordas redondas à navegação do footer */
}

h1 {
    font-family: "Genera SemiBold";
    font-size: 2.5em;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -20px;
}

section h2{
    font-family: "Genera SemiBold";
    font-size: 2em;
    color: #000;
    text-align: center;
    margin: 10;
    padding: 10;
}

section h4{
    font-family: "Genera SemiBold";
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 10;
    padding: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

figure img {
    height: 200px;
    border-radius: 10px; /* Adiciona bordas redondas às imagens das figuras */
}