
@media (max-width: 768px) {
    .custom-navbar ul,
    .search-box {
        flex-direction: column;
        align-items: center;
    }
    .custom-navbar ul img {
        margin-bottom: 10px;
    }
    .custom-navbar,
    header,
    main,
    footer {
        padding: 10px;
    }
    .section {
        padding: 20px;
    }
    .navegar{
        margin-bottom: 25px;
        margin-left: 25px;
    }
}




a:focus, button:focus {
    outline: 3px solid #007BFF;
    outline-offset: 2px;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004895;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 10;
}
.dist{
    bottom: 20px;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.custom-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.custom-navbar ul li {
    margin-right: 20px;
}
.custom-navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.custom-navbar .search-box {
    display: flex;
    align-items: center;
}
.custom-navbar .search-box input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.custom-navbar .search-box select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.custom-navbar .search-box button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    color: #004895;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    color: #555;
}

form {
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

form input[type="submit"] {
    margin-top: 15px;
    background-color: #004895;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Estilos para o Slideshow */
.slideshow-container {
    position: relative;
    /* max-width: 1000px; */
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slideshow-container img {
    
    height:500px;
    width: auto;
}



.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/* Texto nas imagens */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: hwb(0 0% 100% / 0.8);
}

/* Botões anterior/próximo */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(15, 0, 60, 0.759);
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Estilo ao passar o mouse nos botões */
.prev:hover, .next:hover {
    background-color: rgba(10,10,50,0.8);
}

/* Pontos indicativos */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

button.prev, button.next {
    background-color: #004895;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button:focus {
    outline: none;
}



.periodo-content {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}
.periodo-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f1a916;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.periodo-button:focus {
    outline: 2px solid #007bff;
}
.periodo-button:hover {
    background-color: #e0e0e0;
}



/* Estilo para o slide com professores */
.professor-card {
    text-align: center;
    margin-left: 15px;
}

.professor-card img {
    border-radius: 20%;
    object-fit: cover;
    transition: transform 0.3s ease;
    width:100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.professor-card a {
    display: block;
    margin-top: 5px;
    margin-bottom: 55px;
    color: #0000a1;
    font-size: 16px;
    text-decoration: none;
}

.professor-card img:hover {
    transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}
